In [3]:
import pandas as pd

In [11]:
df_acer = pd.read_csv("D:/PythonProject/webformyself/18_concat/price_acer.csv", sep=';') 
df_hp = pd.read_csv("D:/PythonProject/webformyself/18_concat/price_hp.csv", sep=';')
df_asus = pd.read_csv("D:/PythonProject/webformyself/18_concat/price_asus.csv", sep=';')

df_asus

   id                                              title  price
0   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
1   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16

In [12]:
df_hp

   id                                              title  price
0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30

In [13]:
df_acer

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35

In [14]:
df = pd.concat([df_acer, df_hp, df_acer])
df

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35

In [15]:
df = pd.concat([df_acer, df_hp, df_acer], ignore_index=True)
df

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
2   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
3   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
4   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
5  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30
6   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
7   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35

In [16]:
df = pd.concat([df_acer, df_hp, df_acer], keys=['acer', 'hp', 'asus'])
df

        id                                              title  price
acer 0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
     1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
hp   0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
     1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
     2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
     3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30
asus 0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
     1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35

In [18]:
df.loc['asus']

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35

In [19]:
df.loc['asus'].at[1, 'price']

np.int64(35)

In [20]:
df = pd.concat([df_acer, df_hp, df_acer], keys=['acer', 'hp', 'asus'], axis=1)
df

  acer                                                           hp  \
    id                                              title price  id
0  1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....  10.0   3
1  5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....  35.0   4
2  NaN                                                NaN   NaN   9
3  NaN                                                NaN   NaN  10

                                                           asus  \
                                               title price   id
0  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...     7  1.0
1  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...    25  5.0
2  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...    15  NaN
3  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...    30  NaN


                                               title price
0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....  10.0
1  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....  35.0
2                                                NaN   NaN
3                                                NaN   NaN

In [21]:
import xlrd

In [23]:
df_acer = pd.read_excel("D:/PythonProject/webformyself/18_concat/prices.xlsx", sheet_name='Acer')
df_asus = pd.read_excel("D:/PythonProject/webformyself/18_concat/prices.xlsx", sheet_name='Asus')
df_hp = pd.read_excel("D:/PythonProject/webformyself/18_concat/prices.xlsx", sheet_name='HP')

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35

In [37]:
df = pd.concat([df_acer, df_asus, df_hp], ignore_index=True)
df

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
2   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
3   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
4   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
5   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
6   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
7  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30

In [40]:
df.sort_values(by='price', ascending=False, inplace=True)
df

   id                                              title  price
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
7  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30
5   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
3   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
6   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
4   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7

In [42]:
df.to_excel('all_prices.xlsx', sheet_name='Notebooks', index=False)

Второй вариант

In [43]:
f = pd.ExcelFile("D:/PythonProject/webformyself/18_concat/prices.xlsx")
f

In [46]:
res = pd.DataFrame()

In [47]:
for name in f.sheet_names:
    tmp = pd.read_excel("D:/PythonProject/webformyself/18_concat/prices.xlsx", sheet_name=name)
    res = pd.concat([res, tmp])
res

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
0   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
1   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30