In [2]:
import pandas as pd

In [4]:
# df = pd.read_csv("D:\PythonProject\webformyself\city.csv", sep=';', nrows=100)
df = pd.read_csv("D:\PythonProject\webformyself\city.csv", sep=';')
df

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Yevheniia\AppData\Local\Temp\ipykernel_18152\2310754500.py:2: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("D:\PythonProject\webformyself\city.csv", sep=';')

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [5]:
df['Location'] = df.Name + ', '+ df.CountryCode
df

,ID,Name,CountryCode,District,Population,Location
0,1,Kabul,AFG,Kabol,1780000,"Kabul, AFG"
1,2,Qandahar,AFG,Qandahar,237500,"Qandahar, AFG"
2,3,Herat,AFG,Herat,186800,"Herat, AFG"
3,4,Mazar-e-Sharif,AFG,Balkh,127800,"Mazar-e-Sharif, AFG"
4,5,Amsterdam,NLD,Noord-Holland,731200,"Amsterdam, NLD"
...,...,...,...,...,...,...
4074,4075,Khan Yunis,PSE,Khan Yunis,123175,"Khan Yunis, PSE"
4075,4076,Hebron,PSE,Hebron,119401,"Hebron, PSE"
4076,4077,Jabaliya,PSE,North Gaza,113901,"Jabaliya, PSE"
4077,4078,Nablus,PSE,Nablus,100231,"Nablus, PSE"
4078,4079,Rafah,PSE,Rafah,92020,"Rafah, PSE"

In [7]:
df.to_csv('city2.csv', sep=';', index=False)

In [ ]:
df.to_csv('city2.csv', sep=';', index=False, columns=['id', 'Location', 'Population'])

EXCELL FILES

In [13]:
pip install xlrd

Requirement already satisfied: xlrd in d:\pythonproject\webformyself\venv\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

In [7]:
import xlrd
import pandas as pd

In [14]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [4]:
df2 = pd.read_excel('cities.xlsx', sheet_name=0)
df2

NameError: name 'pd' is not defined

In [ ]:
df2 = pd.read_excel('cities.xlsx', sheet_name=0, converters=)
df2

In [5]:
def convert_population(val):
    if val > 100000:
        return '{:,}'.format(val)
    else:
        return val
df2 = pd.read_excel('cities.xlsx', sheet_name=0, converters={'Population': convert_population})
df2

NameError: name 'pd' is not defined

In [ ]:
df2.to_excel('cities2.xlsx', sheet_name='Formatted cities', index=False)

In [ ]:
with pd.ExcelWriter('cities2.xlsx') as writer:
    df2.to_excel(writer, sheet_name='Formatted cities', index=False)
    df3.to_excel(writer, sheet_name='Names', index=False)