<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/04-save-tables.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Сохранение таблиц на компьтере
#### [Ссылка на видео](https://youtu.be/fz31AM5h8Ts)

In [1]:
import pandas as pd
import os

Читаем таблицы

In [2]:
path_marks = '../tables/оценки.xlsx' if os.path.exists('../tables/оценки.xlsx') else 'https://drive.google.com/uc?id=17f4DXx53J0WooNkhO13xidseZJ-O2obs'
path_marks_6d = '../tables/оценки 6Д.csv' if os.path.exists('../tables/оценки 6Д.csv') else 'https://drive.google.com/uc?id=1aMvwur2zrISbVPRo86qWgbHPEpw5km0n'

marks_6a = pd.read_excel(path_marks, sheet_name='6А').head()
marks_6b = pd.read_excel(path_marks, sheet_name='6Б').head()
marks_6d = pd.read_csv(path_marks_6d).head()

In [3]:
marks_6a

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3

### Попробуем сохранить таблицу в эксель

In [4]:
marks_6a.to_excel('../temp tables/оценки.xlsx')

In [5]:
pd.read_excel('../temp tables/оценки.xlsx')

,Unnamed: 0,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
4,4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3

In [ ]:
marks_6a

#### Пераметр index

In [6]:
marks_6a.to_excel('../temp tables/оценки.xlsx', index=False)

In [7]:
pd.read_excel('../temp tables/оценки.xlsx')

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3

#### Параметр sheet_name

In [8]:
marks_6a.to_excel('../temp tables/оценки.xlsx', index=False, sheet_name='6 А')
marks_6d.to_excel('../temp tables/оценки.xlsx', index=False, sheet_name='6 Д')

In [9]:
pd.read_excel('../temp tables/оценки.xlsx', sheet_name=None).keys()

dict_keys(['6 Д'])

### Чтобы сохранить в эксель несколько листов, необходимо использовать следующую конструкцию

In [10]:
with pd.ExcelWriter('../temp tables/оценки.xlsx', mode='w') as writer:
    marks_6a.to_excel(writer, index=False, sheet_name='6 А')
    marks_6d.to_excel(writer, index=False, sheet_name='6 Д')

In [11]:
pd.read_excel('../temp tables/оценки.xlsx', sheet_name=None).keys()

dict_keys(['6 А', '6 Д'])

In [12]:
with pd.ExcelWriter('../temp tables/оценки.xlsx', mode='w') as writer:
    marks_6b.to_excel(writer, index=False, sheet_name='6 Б')

In [13]:
pd.read_excel('../temp tables/оценки.xlsx', sheet_name=None).keys()

dict_keys(['6 Б'])

In [14]:
with pd.ExcelWriter('../temp tables/оценки.xlsx', mode='a') as writer:
    marks_6a.to_excel(writer, index=False, sheet_name='6 А')
    marks_6d.to_excel(writer, index=False, sheet_name='6 Д')

In [15]:
pd.read_excel('../temp tables/оценки.xlsx', sheet_name=None).keys()

dict_keys(['6 Б', '6 А', '6 Д'])

#### В csv

In [16]:
marks_6d.to_csv('../temp tables/оценки.csv', index=False)

#### pickle

In [17]:
marks_6d.to_pickle('../temp tables/оценки.pkl')

#### parquet

In [18]:
marks_6d.to_parquet('../temp tables/оценки.parquet')

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables#%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

В формулировке некоторых заданий может содержаться вариативность. Если у вас есть сомнения, что требуется в задании, попробуйте решить несколько вариантов. Если вы не понимаете задание, можете написать об этом в комментариях под видео.

В большинстве случаев внешний вид итоговой таблицы не определен. Выведите на экран наиболее адекватный вариант. То есть таблицу, из которой можно будет сделать выводы.

Курс пока находится в разработке. Вы можете помочь другим людям добавив свое решение [сюда](https://docs.google.com/forms/d/1HYTBz_KfssY3Jps2dC3n0YnEqa6WBb5OIhLo1d32Xzw/edit).

Посмотреть решения других людей можно [здесь](https://docs.google.com/spreadsheets/d/1pMDYO-9UneLbPPnEuQ2shig0TOJdQTU-zipifyAnZMk/edit?resourcekey#gid=1998648012)

### Задание 1

Давайте долистаем до конца экселя. Создайте 1 колонку, в которой будут лежать значения от 0 до 1048576 (невключительно). Сохраните эту колонку в эксель файл. Откройте его и долистайте до конца

In [ ]:
import pandas as pd
import numpy as np

# Напишите свой код здесь

Это задание вы можете выполнить в гугл colab. Чтобы посмотреть, что файл создался выполните команду:

!ls -la

### Задание 2

Для того, скопировать таблицу необязательно выделять ее мышкой. Для того, чтобы это сделать можно использовать метод to_clipboard(). После вызова метода вы можете вствить ее, например, в эксель файл.

In [ ]:
import pandas as pd
import os

path_marks_6a = '../tables/оценки.xlsx' if os.path.exists('../tables/оценки.xlsx') else 'https://drive.google.com/uc?id=17f4DXx53J0WooNkhO13xidseZJ-O2obs'
path_marks_6a