<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/python.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

В этом ноутбуке содержатся все основы для того, чтобы вы смогли успешно освоить работу с таблицами

## Типы данных

В питоне сущетсвуют различные типы данных. Это целые числа, числа с плавующей точкой, булевые значения, строки, кортежи, списки, словари и множества. Давайте разберемся зачем нужен каждый тип, и какие у них есть основные свойства.

### Целые числа (int)

Целые числа - это такие числа как 0, 1, -1, 23. Их можно складывать, вычитать, умножать делить, возводить в степень.

In [ ]:
342

Напишите любое целое число

(чтобы запустить ячейку кликните на нее, а затем нажмити клавиши ctrl Enter)

### Числа с плавующей точкой (float)

Числа с плавующей точкой (float) - это дробные числа. В питоне в качестве разделителя между целой и дробной частью используется точка. Например 2.5 или 34.3421

В таблице ниже приведен список основных операций над числами. Они работают как с типом float, так и с типом int

|    | Название операции     | Символ   |
|---:|:----------------------|:---------|
|  0 | Сложение              | +        |
|  1 | Вычитание             | -        |
|  2 | Умножение             | *        |
|  3 | Деление               | /        |
|  4 | Целочисленное деление | //       |
|  5 | Остоток от деления    | %        |
|  6 | Возведение в степень  | **       |

Для того чтобы сложить 2 и 8 надо написать 2 + 8

In [ ]:
2 + 8

In [ ]:
3545.732 + 4325

Сложите числа 235 и 2243

Сложите 23.92 и 45

Чтобы ввычесть 7 из 32, надо написать 32 - 7

In [ ]:
32 - 7

#### Символ # - это символ начала комментария в питоне. Все что находится после него в стоке не воспринимается питоном как код

In [ ]:
# Чтобы число стало отрицательным, надо перед ним поставить минус
-34.980 - 23.96

Вычтите 62 из 187

Чтобы умножить 889 и 243 надо написать 889 * 243

In [ ]:
889 * 243

In [ ]:
23 * 25.678

Умножьте 97 на 76

При делении всегда получается число с плавующей точкой

In [ ]:
25 / 5

In [ ]:
24234 / 89

Разделите 34 на 12

Разделите 23.932 на 894.95678

Целочисленное деление это операция при которой полученное при делении число мы округлаяем вниз до ближайшего целого

In [ ]:
# 11 * 3 + 1 = 34
34 // 3

Разделите целочисленно 24 на 7

Остоток от деления

In [ ]:
# 11 * 3 + 1 = 34
34 % 3

In [ ]:
3434 % 45

Найдите остаток от деления 6789 на 99

Возведение в степень

In [ ]:
# Это тоже самое, что и 12 * 12
12 ** 2

In [ ]:
24 ** 23

Возведите 2 в степень 50

Если вы помните математику, то операция извлечения квадратного корня эквивалентна возведению в степень 0.5

In [ ]:
# Квадратный корень из 2
100 ** 0.5

Порядок пераций в питоне стандартный. Сначала выполняется возведение в степень, потом выполняется умножение и деление (с однинаковым приоритетом). В последнюю очередь выполняется сложенеие и вычитаение. Но если вы хотите его изменить можете воспользоваться скобками

In [ ]:
2 + 2 * 2

In [ ]:
(2 + 2) * 2

Посчитайте значения выражения: необходимо сложить 8 и 9, а затем возвести полученную сумму в куб (третью степень)

У питоновских чисел с плавующей точкой (флотов) есть один недостоток. Они не всегда точные. Из-за этого иногда возникают разные спецэффекты. К сожалению, с этим ничего не поделаешь. Просто надо иметь в виду.

In [ ]:
0.1 + 0.2

Можете подробнее почитать про это тут:

https://docs-python.ru/tutorial/operatsii-chislami-python/problemy-chisel-plavajuschej-zapjatoj

### Проверка условий

Числа мы можем сравнивать и в результате таких сравнений получать булевые значения. True значит истина (правда), False значит ложь. В дальшейшем в пандасе мы будем использовать операторы сравнения для того, чтобы выбирать нужные строки из таблицы

In [ ]:
# 2 больше 1
2 > 1

In [ ]:
# 0 больше 1
0 > 1

Таблица со знаками сравнения представлена ниже

|    | Название операции   | Символ   |
|---:|:--------------------|:---------|
|  0 | Больше              | >        |
|  1 | Меньше              | <        |
|  2 | Больше или равно    | >=       |
|  3 | Меньше или равно    | <=       |
|  4 | Равно               | ==       |
|  5 | Неравно             | !=       |

Обратите внимание на то как осуществляется проверка на равентво. Для этого надо прописать 2 знака равно. Часто пишут 1 и не понимают почему возникла ошибка

In [ ]:
22 == 22

In [ ]:
29 + 2 != 12 + 14 + 5

In [ ]:
# Очень часто проверяют, что остоток от деления равен нулю (проверка на делимость)
# число 673924 не делется на 7
673924 % 7 == 0

In [ ]:
# а число 673925 делется
673925 % 7 == 0

Правда ли что, 22 больше 23?

Правда ли что, 32 меньше 42?

Правда ли, что 89 равно 89?

Проверьте, что 73781 делется на 89

Над булевыми значениями тоже определены арифметические операции. В этом случае True воспринимается как 1, а False как 0. В будущем, при работе с таблицами, нам это очень поможет

In [ ]:
False * True

In [ ]:
True + True + True

Когда мы прописываваем проверку на равенство (или неравенство), часто возникаем ситуация проверки сразу нескольких условий. Для этого существуют ключевые слова: and, or и not

In [ ]:
# and проверяет что выполнены все условия
1 == 1 and 9 >= 1

In [ ]:
# последнее условие не выполнена
1 == 1 and 9 >= 1 and 323 * 12 < 98

In [ ]:
# or проверяет что выполнено хотя бы одно условие
12 > 24 or 12 > 9

In [ ]:
# Не забывайте про скобки. Не всегда порядок операций очевиден
12 > 26 and (23 > 1 or 1 == 12 ** 0)

In [ ]:
# Если есть риск запутаться в порядке операций, скобки лучше лишний раз поставить, чем не поставить
(12 > 26 and 23 > 1) or 1 == 12 ** 0

Проверьте условие: (26 больше 12) или (235 меньше 15 * 16)

not необходимо, чтобы формировать отрицание (просто меняет True на False и наоборот)

In [ ]:
19 == 19

In [ ]:
not 19 == 19

In [ ]:
# not имеет приоритет у or и and, поэтому выделяйте условия скобками
not 19 == 19 or 18 == 18 # это плохой пример

In [ ]:
# Так выглядит понятнее, несмотря на то что выражения эквивалентны
(not 19 == 19) or 18 == 18

In [ ]:
((23 * 24 > 12 ** 3) and (not 23 % 3 == 1)) or (56789 % 23 == 1)

Напишите любое условие, используя not, or и and в одном выражении

### Переменные

В питоне существуют переменные. В них можно складывать наши объекты.

Для того чтобы сохранить в переменную что-то необходимо написать ее название, затем поставить равно и написать выражение

In [ ]:
# Когда вы делеаете присваивание никакого вывода под ячейкой вы не получите
a = 12
b = 23

In [ ]:
# давайте сложим два целых числа
a + b

In [ ]:
# При этом в a и b будут лежать сохраненные значения. Их можно будет получить в любом месте ноутбука
a

In [ ]:
b

Создайте переменную x и положите в нее значение равное 56

Но если вы вдруг положите в нее другое значение, то первое значение сотрется

In [ ]:
a

In [ ]:
a = 23
# Теперь в переменной a лежит значение 23
a

In [ ]:
# В этой ячейке выведите значение переменной x, которую вы создали в предыдущем задании

In [ ]:
# А в этой ячеке поменяйте ее значение на 45 и выведите на экран

В переменных могут лежать абсолютно любые объекты

In [ ]:
condition = (1 * 23 - 2 == 12) or (12 ** 23 < 23 ** 12)
condition

Переменные удобно переприсваивать, используя их самих же. Сначала будет вычисляться правая часть равениства, и только потом будет выполнено присваивания значения

In [ ]:
a

In [ ]:
# если вы ничего не меняли, то a у нас изначально равно 23.
# Мы сначала вычислили правую часть равениства a ** 4 + 19 (23 ** 4 + 19)
# И только потом обновили переменнную a
a = a ** 4 + 19

In [ ]:
a

Поменяйте значение в переменной x, умножив ее на 54 и прибавив к полученному значению 23

В питоне есть ограничения на название переменных:
1. Они не должны начинаться с цифр
2. Они не должны содержать пробелов, точек, запятых и специальных знаков, которые мы рассмотрели выше (=, >, <, +, *, -)

Кроме того лучше не использовать в названиях переменных:
1. Заглавные буквы
2. Буквы из кирилицы

**Переменные должны иметь норамальные названия, чтобы вы не запутались, что в них лежит**

In [ ]:
# Хороший пример для числа яблок
num_apples = 23
# Плохой пример для числа яблок
n_a = 23

In [ ]:
# Хороший пример для численности населеления в Оренбурге
population_orenburg = 500000
# Плохой пример для численности населеления в Оренбурге
po = 500000

Создайте переменную для количества автобусов, и поместите в нее число 23

### Строки

В питоне мы можем работать не только с числами, но и с текстом. Для того, чтобы создать текст необходимо поставить одинарные или двойные кавычки и указать там какой-нибудь текст. Разницы в том, какие кавычки использовать нет

In [ ]:
# Одинарные кавычки
'Привет мир!'

In [ ]:
# Двойные кавычки
"Привет мир!"

Напишите строку: Я не хочу ничего делать. И сохрание ее в переменную my_wish

Строки можно складывать

In [ ]:
# не забывайте про пробелы
'Я' + "люблю" + "тебя!"

In [ ]:
'Я' + ' ' + "люблю " + "тебя!"

Строки можно умножать на целые числа. Тогда строка продублируется несколько раз

In [ ]:
'Мама мыла раму ' * 3

Часто мы хотим делать так, чтобы текст зависел от значения наших переменных

Например, у нас есть переменная, число яблок у Маши, и мы хотим выводить текст, который бы зависел от этой переменной

In [ ]:
num_apples_masha = 8
'Количество яблок у Маши: 8'

In [ ]:
num_apples_masha = 34
'Количество яблок у Маши: 34'

В примерах выше наши строки никак не зависели от значения переменной, мы указывали число сами.

Для того, чтобы делать это автоматически существуют f-строки. Для этого необходимо написать f перед тем как открывать кавычки. А в самой строке надо написать фигурные скобки {} и в них указать какое-нибудь питоновское выражение.

In [ ]:
num_apples_masha = 34
f'Количество яблок у Маши: {num_apples_masha}'

In [ ]:
num_apples_masha = 2
f'Количество яблок у Маши: {num_apples_masha}'

Таких скобок фигурных скобок может быть сколько угодно и выражения в них могут быть довольно сложные

In [ ]:
num_apples_masha = 2
num_apples_dasha = 12
f'Количество яблок у Маши: {num_apples_masha}, Количество яблок у Даши: {num_apples_dasha}, Всего яблок: {num_apples_dasha + num_apples_masha}'

### Функции

Вы наверное заметили, что мы практически везде каждое новое выражение начинали писать в новой ячейке.

Дело в том, что по умолчанию в ноутбуках отображается вывод только последнего выражения.

In [ ]:
# Значение этой суммы не будет отображено
23 + 192
# а этой будет
12 + 43

Чтобы это изменить существует функция print. Чтобы использовать любую функцию необходимо написать ее название, постоваить скобки, и внутрь их необходимо передать выражение

In [ ]:
# Теперь мы можем выводить
print(23 + 192)
print(12 + 43)

In [ ]:
# Можно печатать не только числа
print('У Кати 4 красных помидора')

Для многих объектов можно вызвать функцию len, которая будет возвращать длинну объекта. Например, данная функция опеределена для строк и возвращает число символов

In [ ]:
# В этом случае вернется количество символов в строке, считая пробелы
len('У Юли 1 спелый арбуз')

Помимо этого, существует множество типов данных, у которых определены различные методы.

Например, для строк есть метод lower, который приводит строку к нижнему регистру

In [ ]:
# После окончания строки надо поставить точку, написать название метода и поставить точку
'У Лены горсть вишни'.lower()

In [ ]:
# метод upper приводит строки к верхнему регистру
'У Леры сочный абрикос'.upper()

Приведите строку "Я лЮБлЮ АрБуЗы" к нижнему рестру

Существует множество других функций и методов. О них мы еще будем говорить. Пока продолжим говорить о типах данных

### Кортжи

Следующий тип - это кортежи.

Кортежи нужны, чтобы хранить в себе другие типы. 

Довольно часто нам надо хранить какие-то числа вместе. Мы можем делать это внутри кортежей

In [ ]:
# Элементы кортежа записываются как правило в скобках через запятую
(1, 4, 34, 6)

В целом с кортежами работать мы будем не часто, но иногда они будут появляться. Надо просто знать, что когда несколько объектов записано в скобках через запятую, то это кортеж

Создайте кортеж, внутри которого будет находится 3 строки

### Списки

Значительно более популярным типом данных (по крайне мере в контексте панадаса) являются списки. Они очень похожи на котрежи, но записываются в квадратных скобках

In [ ]:
# в них могут лежать абсолютно разные объекты
[1, 2, 3, 'человек', 2.34]

In [ ]:
# Можно даже класть список внутрь списка
[[1, 2], 12, 'человек', 23]

In [ ]:
# В списке может лежать только 1 элемент
[12]

In [ ]:
# в списках можно хранить даже функции
[len, print]

In [ ]:
# Списки можно складывать
[12, 34] + ['человек', 'собака']

In [ ]:
# И умножать на целые числа
[12, 'Картинка'] * 4

Самый популярный метод у списков append. Он добавляет элемент к списку

In [ ]:
lst = ['У Оли желтая дыня', 'У Лизы спелая груша', 'у Ани черная смородина']
lst.append('У Тани баклажан')
print(lst)

Добавьте к списку из животных свинью. Затем вывидите список на экран

In [ ]:
lst_animals = ['Корова', 'Коза', 'Осел']

У строк есть метод split, который возвращает список. До этого в методах мы просто ставили скобки. Но во многих методах можно прописывать параметры. Как раз в методе сплит мы прописываем по каким элементам резать нашу строку

In [ ]:
splited_stering = 'Нет ничего в мире труднее прямодушия, и нет ничего легче лести.'.split(' ')
splited_stering

In [ ]:
'Нет ничего в мире труднее прямодушия, и нет ничего легче лести.'.split('т')

Есть обатный метод join. Он имеет следующую структуру: соедидитель.join(Список слов, которые мы хотим соединить)

In [ ]:
' '.join(splited_stering)

In [ ]:
'_'.join(splited_stering)

\n означает перенос на новую сроку

In [ ]:
print('\n'.join(splited_stering))

Разделите строку ниже по пробелам, а затем соедините ее через знак нижнего подчеркивания

In [ ]:
'Все счастливые семьи похожи друг на друга, каждая несчастливая семья несчастлива по-своему.'

Чтобы сделать из какого-то объекта список, можно использовать функцию list

In [ ]:
# Делаем список из строки
list('Арбуз')

In [ ]:
# Делаем список из кортежа
list((1, 4, 5))

Списки мы будем использовать очень часто. Например, у нас есть таблица, у которой куча лишних колонок. Для того, чтобы отобрать нужные колонки, мы просто будем их указывать названия нужных колонок в списке.

### Срезы

У строк, котрежей и списков можно брать срезы. То есть обращаться к их элементам по индексам. Для всех них срезы работают одинаково

#### Нумерция идет начиная с нуля

In [ ]:
# Не забывейте про f строки
print(f"Исходный список: {lst}")
print(f"Первый элемент списка: {lst[0]}")

In [ ]:
# Давайте создадим новый список и достанем из него элемент с индексом 5
# Это будет 6 из за того, что нумерация начинается с нуля
[1, 2, 3, 4, 5, 6, 7, 8, 9][5]

Аналогичное поведение будет у строк и кортежей

In [ ]:
("Саша", "Паша", "Дима", "Данил")[0]

In [ ]:
tupl = ("Миша", "Андрей", "Антон")
tupl[1]

In [ ]:
alphabet = 'абвгдеёжзийклмнопрстуфхцчшщьыъэюя'
print(alphabet[0])
print(alphabet[30])
print(alphabet[7])

In [ ]:
# если вы обратитесь к несуществующему элементу то возникнет ошибка (их еще называеют исключениями)
alphabet[40]

В питоне поддерживается обратное индексирование

In [ ]:
tupl = ("Миша", "Андрей", "Антон")
# -1 элемент это последний элемент
tupl[-1]

In [ ]:
# -2 элемент - предпоследний
tupl[-2]

In [ ]:
# и так далее
tupl[-3]

In [ ]:
alphabet = 'абвгдеёжзийклмнопрстуфхцчшщьыъэюя'
# й - 23 буква алфавита если считать с конца
alphabet[-23]

Найдите восьмой символ в строке ниже

In [ ]:
';hsrttfxldkh:SD'

Можно брать несколько элементов подряд. Для этого используются слайсы
#### При этом последний элемент не включается в срез

In [ ]:
alphabet = 'абвгдеёжзийклмнопрстуфхцчшщьыъэюя'
# берем все элементы с 3 включиительно до 8 невключительно
# Индексирование как и раньше начинается с нуля!
alphabet[3:8]

In [ ]:
# Если мы хотим взять все элементы до конца, то второй аргумент не указываем
alphabet[3:]

In [ ]:
# Если хотим взять все элемены с начала, то не указываем первый аргумент
# отрицательное индексирование все еще поддерживается
alphabet[:-7]

In [ ]:
# То же саме со списками и кортежами
(12, 45, 45, 756, 76, -23)[:3]

In [ ]:
# Когда мы ставим слайсы : мы можем указывать индексы, которых не существует 
# Здесь индексы только от 0 до 4, но мы указали 546 и он нам дал все элементы меньше 546
[83, 32, 98, 34, -212][3:546]

Можно выбирать каждый второй, каждый третий элемент и тд

In [ ]:
# здесь мы выбираем все элементы списка до 7 элемента с конца
alphabet[:-7]

In [ ]:
# Сначала выбираются все элементы от 0 до -7, затем из этих элементов мы берем каждый второй элемент
# Первый элемент всегда включается
alphabet[:-7:2]

In [ ]:
# Каждый третий элемент
alphabet[::3]

In [ ]:
# а вот так обычно разворачитвают строки, списки и кортежи
# Мы сначала выбираем все элементы а потом берем их в обратном порядке
alphabet[::-1]

Для списков и кортежей все работает абсолютно так же

In [ ]:
[1, 2, 3, 4, 5, 6, 7, 8, 9][1:7:2]

Из списка ниже возьсите все элементы со второго до предпоследнего (включительно) с шагом 4

In [ ]:
[2, 6, 3, 6, 2, 7, 7, 0, 2, 75, 3, 43, 45, 75, 2, 5, 65, 546, 24, 3, 244, 34, 35, 53, 34, 53, 34, 54]

Не надо путать списки и срезы.

Срезы идут сразу после объекта. Между объектом и срезом не может быть пробела.

Если квадратные скобки могут быть отделены от другого кода пробелом, то это список

In [ ]:
len([1, 3, 4])

In [ ]:
# Это то же самое, что строчкой выше
len( [1, 3, 4] )

In [ ]:
# Здесь пробел между круглыми и квадратными скобками поставить нельзя
(1, 54, 3, 23)[0]

### Ключевое слово in

При помощи оператора in можно проверить входит ли элемент в строку или в список

In [ ]:
'а' in 'абракадобра'

In [ ]:
# последняя буква не совпадает
'нога' in 'ноги'

In [ ]:
1 in [1, 2, 3, 4]

In [ ]:
67 in [1, 2, 3, 4]

Проверьте если число 89 в следующем списке

In [ ]:
lst = [0, 3, 5, 23, 45, 234, 89, 23, 88]

### Цикл for

Еще одно свойство списков, кортежей и строк это то, что они являются итерируемыми объектами. То есть по ним можно пройтись и с каждым элементом что-то сделать

Давайте посмотрим на пример того, как это работает

In [ ]:
# Эту штуку можно перевести как:
# Для буквы в (строке 'abcdefgh')
#   печатай букву
for letter in 'abcdefgh':
    print(letter)

Сначала идет ключевое слово for (для), затем идет название переменной (название в данном случае не играет роли), потом ключевое слово in (в) а далее идет объект по которому мы будем итерироваться. В конце строчки стоит двоеточие.
После этого мы проваливаемся в тело цикла. Обратите внимание что перед функцией print стоит 4 пробела. Они обязательны. Так питон понимает, что находится внутри цикла, а что снаружи.

Пусть у нас есть список с целыми числами, и для каждого числа мы хотим узнать, остаток от деления на 3
Для этого мы могли бы взять каждый элемнт из списка и найти для него остаток от деления

In [ ]:
base_lst = [35, 52, 69, 86, 103, 120, 137, 154, 171, 188, 205, 222, 239, 256, 273, 290, 307, 324, 341]
# Сначала берем нулевой элемент
base_lst[0] % 3

In [ ]:
# потом первый
base_lst[1] % 3

In [ ]:
base_lst[2] % 3
# и так далее

То же самое можно сделать при помощи цикла for

In [ ]:
# создаем список из чисел 
base_lst = [35, 52, 69, 86, 103, 120, 137, 154, 171, 188, 205, 222, 239, 256, 273, 290, 307, 324, 341]
# Создаем пустой список, куда будем складывать остатки от деления на 3
lst_mod = []

# Это можно перевести как: для i в base_lst
for i in base_lst:
    # проделывай следующую операцию
    # добавляй остаток от деления на 3 в список lst_mod
    lst_mod.append(i % 3)

# выводим наш список
lst_mod

Сначала мы просто создаем базовый список на примере которого мы будем смотреть как работает цикл

Затем создаем пустой список, в который будем складывать остатки от деления

Потом начинается сам цикл.

Мы создаем переменную i, в которую по очереди будем класть каждый элемент списка последовательно.

Создайте спиок из чисел. Затем на основе этого списка сформируйте еще один список, который будет содержать кубы исходных чисел

Поскольку со списками часто надо использовать цикл for то для этого придумали удобную однострочную конструкцию - генератор списков.

Посмотрите на примере как это работает

In [ ]:
# здесь каждое число из списка возводится в квадрат
[i ** 2 for i in [1, 4, 5, 80, 45, 90]]

In [ ]:
# i.upper() приводит каждую букву к верхнему регистру
[i.upper() for i in 'собака']

Сделайте то же самое, что в предыдущем задании, но уже с генераторами списков.

(Создайте спиок из чисел. Затем на основе этого списка сформируйте еще один список, который будет содержать кубы исходных чисел)

Вместе с циклами часто и используются функции range и enumerate.

range просто генерирует последовательность из чисел.

Когда в функцию передается одно число, то генерируется последовательность от нуля до этого числа невключительно

In [ ]:
# генерируем числа от 0 до 10 (верхняя граница не включается)
[i for i in range(10)]

Если в функцию передать 2 числа, то будет сгенерирована последовательность от первого числа до последнего (невключительно)

In [ ]:
[i for i in range(5, 15)]

Если в функцию передать 3 числа, то сгенерируются числа от первого до второго с определенным шагом

In [ ]:
# генерируем числа от 5 до 15 (верхняя граница не включается) с шагом 2
[i for i in range(5, 15, 2)]

С помощью данной функции можно перебирать элементы в списке

In [ ]:
lst_names = ["Даша", "Маша", "Катя", "Оля"]

# Здесь мы создаем последовательность из целых чисел от нуля до числа элементов в списке
for i in range(len(lst_names)): 
    print(f'{lst_names[i]} имеет номер {i} в списке имен')

enumerate возвращает сначала номер объекта в списке, а затем сам объект по очереди на каждом шаге цикла. Во многих случаях это бывает удобно

In [ ]:
lst_names = ["Даша", "Маша", "Катя", "Оля"]

# Эта функция используется с такой конструкцией
# в переменную index помещается индекс объекта, а в переменную name сам объект
for index, name in enumerate(lst_names):
    print(f'{name} имеет номер {index + 1} в списке имен')

### Условный оператор

Когда мы смотели на условия, мы делали это не просто так. Теперь на основе этого мы будем записывать условия. Для этого есть оператор if (если).

Для того, чтобы это делать необходимо написать if, после этого написать условие и поставить двоеточие. На следующей строке с отступом в 4 пробела необходимо написат выражение, которое будет исполнено, в случае выполнения условия

In [ ]:
var = 90

if var > 0: 
    print('Переменная var больше нуля')

Если условие не выполняется, то ничего не будет исполнено

In [ ]:
var = -90

if var > 0: 
    print('Переменная var больше нуля')

Вместе с if часто используется else (иначе). else будет исполнено если не выполнены условия выше

In [ ]:
var = -90

if var > 0: 
    print('Переменная var больше нуля')

else:
    print("Переменная var меньше нуля или равна нулю")

Напишите условие, которые будет печатать строку Ура, если переменная x больше 100

Часто приходится проверять несколько условий подряд. Для этого если ключевое слово elif (иначе если). elif записывается после основаного if и срабатывает если предыдущие условия не были выполнены. Однако в отличие от else, внутри elif мы можем записывать условия.

In [ ]:
var = 0

if var > 0: 
    print('Переменная var больше нуля')

elif var == 0:
    print('Переменная var равна нулю')

else:
    print("Переменная var меньше нуля")

In [ ]:
var = -9

if var > 0: 
    print('Переменная var больше нуля')

elif var == 0:
    print('Переменная var равна нулю')

else:
    print("Переменная var меньше нуля")

В такой конструкции условия проверяются последовательно. Если выполнилось одно условие то, следующее проверяться не будет

In [ ]:
var = -10

if var > 0: 
    print('Переменная var больше нуля')

elif var == -10:
    print('Переменная var равна минус 10')

# Это условие проверяться уже не будет (в данном случае, когда переменная var равна -10)
elif var == 0:
    print('Переменная var равна нулю')

else:
    print("Переменная var меньше нуля")

Пусть у вас есть переменная t, которая означает температуру.

Если температура меньше -15, то надо печатать строку очень холодно. Если температрура больше или равна -15, но меньше 10 градусов, то надо печатать строку холодно. Если температрура находится в диапозоне от 10 до 20 градусов, то надо печатать прохладно. Если температура от 20 до 30 градусов, то нормально. А если температура выше 30 градусов, то надо выводить на экран строку жара

На основе условий мы можем добавлять элементы в список

In [ ]:
num_lst = [0, 3, 5, 2, -1, -8, 43, -1, 0]
positive_numbers = []

for i in num_lst:
    # проверяем условие для каждого элемента списка
    if i > 0:
        # если условие выполняется, добаляем элемент в новый список
        positive_numbers.append(i)

positive_numbers

Простые условия можно использовать внутри генераторов списков

In [ ]:
num_lst = [0, 3, 5, 2, -1, -8, 43, -1, 0]

# Элемент добавляется в список если условие в скобках выполнятется
[i for i in num_lst if i > 0]

Из списка удалите четные числа

In [ ]:
lst = list(range(40))

### Словари

Теперь давайте вернемся к типам данных. Мы уже знаем, что такое числа, что такое строки, кортежи и списки.

Сейчас мы познакомимся со словарями. Словари позволяют сопоставлять один элемент другому.

Предстовьте, что у нас есть магазин. В магазине есть товары. У каждого товара есть цена. Товары и цены можно хранить в видео 2 списков.

In [ ]:
products = ["Сметана", "Хлеб", "Молоко", "Яйца"]
prices = [65, 30, 60, 90]

Однако в этом случае тяжело получать цену каждого товара. Чтобы это сделать надо пройтись по всем элементам списка с продуктами, найти индекс нужного товара и после этого найти цену товара по индексу из списка с ценам.

Упростить эту задачу могут упростить словари

In [ ]:
# Мы записываем название товара, затем ставим двоеточие и пишем цену
product_dict = {"Сметана": 65, "Хлеб": 30, "Молоко": 60, "Яйца": 90}

Теперь мы можем получить цену сметаны используя квадратные скобки

In [ ]:
product_dict["Сметана"]

In [ ]:
product_dict["Молоко"]

То что мы записываем в квадратных скобках называется ключем, а то что нам возвращается называется значением

"Сметана" - это ключ, а 65 - это значение

Список всех ключей можно получить используя метод keys()

In [ ]:
product_dict.keys()

А список всех значений можно получить методом values()

In [ ]:
product_dict.values()

Если вдруг мы предедадим в квадратные скобки ключ, которого нет в словаре, то возникнет ошибка

In [ ]:
product_dict['Лапша']

Чтобы ее не было, можно воспользоваться методом get. Внутрь него сначала необходимо передать ключ, а потом значение, которое вернется, если ключ не найдется

In [ ]:
# 80 - это значение по умолчанию
product_dict.get('Лапша', 80)

In [ ]:
# Если ключ есть в словаре, то вернется соответствующее этому ключу значение
product_dict.get('Сметана', 80)

Создайте словарь, в котором ключем будет номер телефона, а значением имя человека. Затем попробуйте найти какого-то человека по его номеру.

Словари мы будем часто использовать при работе с таблицами.

### Множества

Помимо словарей в питоне есть множества. Множества оставляют только уникальные элементы. Чтобы ими воспользоваться необходимо использовать функцию set

In [ ]:
set([1, 32, 3, 5, 1, 1, 2, 1, 1, 2])

In [ ]:
set('собака')

Посчитайте какое число уникальных букв в слове тригонометрия

В самом конце давайте посмотрим на то, как писать свои собственные функции. 

Представим, что у нас есть задача посчитать площадь прямоугольника, зная 2 его стороны

In [ ]:
side_1 = 10
side_2 = 30
side_1 * side_2

Меняя значения сторон мы будем получать разный результат

In [ ]:
side_1 = 200
side_2 = 30
side_1 * side_2

Этот код мы можем засунуть внутрь функции и затем уже использовать функцию

Для этого мы сначала пишем def потом пишем название функции. Затем необходимо написать названия параметров. В конце строки надо поставить двоеточие и перейти на другую строку. Здесь мы делаем расчеты и возвращаем значение, которое функция должна вернуть при помощи слова return. Если мы ничего не вернем, то площадь внутри функции посчитается, а затем исчезнет

In [ ]:
def rect_sq(side_1, side_2):
    return side_1 * side_2

In [ ]:
rect_sq(10, 5)

In [ ]:
rect_sq(90, 8)

Понятно, что сейчас функция очень простая. Давайте реализуем что-то более сложное

Посчитаем площадь треугольника зная его стороны. Для этого воспользуемся формулой [Герона](https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D1%80%D0%BC%D1%83%D0%BB%D0%B0_%D0%93%D0%B5%D1%80%D0%BE%D0%BD%D0%B0)

In [ ]:
def tri_sq(side_1, side_2, side_3):
    # Сначала считаем полупериметр 
    p = (side_1 + side_2 + side_3) / 2
    # считаем квадрат площади
    s_sq  = p * (p - side_1) * (p - side_2) * (p - side_3)
    # извлекаем квадратный корень 
    s = s_sq ** 0.5
    return s

Теперь мы можем посчитать площадь лубого трегугольника. Это гораздо проще чем каждый раз писать громоздкий код

In [ ]:
tri_sq(3, 4, 5)

In [ ]:
tri_sq(1, 1, 1)

Напишите функцию, которая будет вычислять длинну гипотезнузы по длинам двух катетов

Напишите функцию, которая будет находить наименьший делитель числа больше 1. Например, у числа 45 наименьший делитель, который больше 1 - это 5

Любой код, который мы писали до этого можно засунуть внутрь функции

In [ ]:
def check_sign(var):
    if var > 0: 
        print('Число больше нуля')

    elif var == 0:
        print('Число равно нулю')

    else:
        print("Число меньше нуля")

In [ ]:
check_sign(9)

In [ ]:
check_sign(0)

В данном случае мы просто печатем строку. Но если мы хотим, чтобы эту строку можно было использовать где-то еще, ее лучше возвращать при помощи слова return

In [ ]:
def check_sign_with_return(var):
    if var > 0: 
        return 'Число больше нуля'

    elif var == 0:
        return 'Число равно нулю'

    else:
        return "Число меньше нуля"

In [ ]:
check_sign_with_return(0)

Часто в функции используются как аргументы внутри других функций.

Функция map применяет какое-то действие к каждому элементу массива (примерно так же как мы делали это с циклами). На вход эта функция принимает другую функцию и массив (как правило это список или кортеж).

Сначала создадим функцию, которая будет использоваться внутри функции map

In [ ]:
# Функция просто возводит число в квадрат
def square(x):
    return x ** 2

In [ ]:
square(9)

In [ ]:
square(-28)

In [ ]:
num_lst = [0, 3, 5, 2, -1, -8, 43, -1, 0]

# Внутрь map мы передаем название функции и список
# В итоге каждое число возводится в квадрат
list(map(square, num_lst))

В пандасе мы будем часто использовать функции внутри других функций и методов. Однако сейчас у нас функция для расчета квадрата числа очень простая. И выделять для нее отдельно 2 строки - это слишком напряжно и сложно. Вместо этого внутри функции map можно использовать лямбда функции. Это те же самые функции, но внутри них нельзя создавать переменные. Для того, чтобы их использовать мы пишем lambda, затем мы указываем название любой переменной, ставим двоеточие и возваращаем эту переменную, возводя ее в квадрат. В итоге получае тот же самый результат.

In [ ]:
list(map(lambda x: x ** 2, num_lst))

Тема функция относительно сложна, но в то же время она очень важна. Поэтому лучше ознакомиться с ними более подробно. Сдалать это вы пожете [здесь](https://pythonworld.ru/tipy-dannyx-v-python/vse-o-funkciyax-i-ix-argumentax.html), [здесь](https://www.youtube.com/watch?v=DJAlfolEv9A&pp=ygUV0YTRg9C90LrRhtC40LggcHl0aG9u) и [здесь](https://www.youtube.com/watch?v=NUrEyTW4JuU)